html {
    border-collapse: collapse;
}

.header-footer {
    background-color: orange;
}

.main {
    background-color: none;
    padding: 5px;
    border: 1px solid brown;
}

.aside {
    background-color: yellow;
}

.header-footer,
.aside {
    text-align: center;
    padding: 5px;
    border: 1px solid brown;
}